# Maven generated
target/
*.jar
*.war
*.ear
*.tar.gz
# Eclipse metadata
.metadata
.plugins/
.settings/
.project
.classpath
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
# Visual Studio Code
.vscode/
# Log files & OS files
*.log
.DS_Store
Thumbs.db