<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sertifikat</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

<div class="sidebar">

<div class="logo">
<h2>EVENT IPWIJA</h2>
</div>

<div class="menu">
<a href="/">🏠 Dashboard</a>
<a href="/events">📅 Daftar Event</a>
<a href="/my-events">📋 Event Saya</a>
<a href="/attendance">✅ Absensi</a>
<a href="/certificates">🏆 Sertifikat</a>
<a href="/profile">👤 Profil</a>
</div>

</div>

<div class="main">

<div class="navbar">
<h2>Sertifikat Saya</h2>
</div>

<div class="event-card">

<h3>Seminar Artificial Intelligence</h3>

<p>Status : Selesai</p>

<br>

<button class="btn">
Download Sertifikat
</button>

</div>

</div>

</div>

</body>
</html>