<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail Event</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <div class="sidebar">

        <div class="logo">
            <h2>EVENTIPWIJA</h2>
        </div>

    </div>

    <div class="main">

        <div class="navbar">
            <h2>Detail Event</h2>
        </div>

        <div class="event-card">

            <h2>Seminar Artificial Intelligence</h2>

            <br>

            <p>
                Seminar mengenai perkembangan Artificial Intelligence,
                Machine Learning, dan peluang karir di era digital.
            </p>

            <br>

            <p>📅 Tanggal : 20 Juli 2026</p>
            <p>📍 Lokasi : Aula IPWIJA</p>
            <p>👥 Kuota : 100 Peserta</p>

            <br>

            <button class="btn">
                Daftar Event
            </button>

        </div>

    </div>

</div>

</body>
</html>